<!doctype html>
<html lang="en">

<head>
    <title>泽兰抄-健康百科</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/static/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="container">
            <div class="row align-items-center position-relative">


                <div class="site-logo">
                    <a href="/index" class="text-black"><span class="text-primary">泽兰抄</span></a>
                </div>

                <div class="col-12">
                    <nav class="site-navigation text-right ml-auto " role="navigation">

                        {#                        导航栏右侧#}
                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                            {% ifequal 0 session.status %}
                                <li><a href="/login" class="nav-link">注册/登录</a></li>
                            {% endifequal %}
                            {% ifequal 1 session.status %}
                                <li><a class="nav-link">欢迎！{{ session.username }}</a></li>
                                <li><a href="/logout" class="nav-link">退出登录</a></li>

                            {% endifequal %}
                            <li><a href="/index" class="nav-link">返回首页</a></li>

                        </ul>
                    </nav>

                </div>

                <div class="toggle-button d-inline-block d-lg-none"><a href="#"
                                                                       class="site-menu-toggle py-5 js-menu-toggle text-black"><span
                        class="icon-menu h3"></span></a></div>

            </div>
        </div>

    </header>

    <div class="site-section-cover overlay inner-page bg-light"
         style="background-image: url('/static/images/medicine1.jpg')" data-aos="fade">

        <div class="container">
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-lg-10">

                    <div class="box-shadow-content">
                        <div class="block-heading-1">
                            <span class="d-block mb-3 text-white" data-aos="fade-up">中医知识，养生秘诀……这里什么都有</span>
                            <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">健康百科</h1>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9 blog-content">

                    {% for passage in passages %}
                        <form method="post" id="form{{ passage.id }}" action="/getpassage/">
                            {% csrf_token %}
                            <input type="hidden" value="{{ passage.id }}" name="passageid">
                        </form>
                        <div class="col-12 mb-4" onclick="document.getElementById('form{{ passage.id }}').submit()">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-8">

                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ passage.title }}</div>
                                            <p></p>
                                            <div class="text-xs font-weight-bold text-primary mb-1">
                                                {{ passage.author }}
                                            </div>

                                        </div>
                                        <div class="col-4">
                                            <img src="{{ passage.image }}" height="120">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
                <div class="col-md-3 sidebar">
                    {#                    <div class="sidebar-box">#}
                    {#                        <form action="#" class="search-form">#}
                    {#                            <div class="form-group">#}
                    {#                                <span class="icon fa fa-search"></span>#}
                    {#                                <input type="text" class="form-control" placeholder="输入你想搜索的内容...">#}
                    {#                            </div>#}
                    {#                        </form>#}
                    {#                    </div>#}
                    <div class="sidebar-box">
                        <div class="categories">
                            <h3>功能跳转</h3>
                            <li><a href="/index">→图谱检索</a></li>
                            <li><a href="/qs">→智能问答</a></li>
                            <li><a href="#">→为您推荐</a></li>
                            <li><a href="/passageindex">→健康百科</a></li>
                            {#                            <li><a href="#">→文献查阅</a></li>#}
                            {#                            <li><a href="#">→疾病自诊</a></li>#}
                            {#                            <li><a href="#">→热门问答</a></li>#}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    {#底部黑块#}
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-7">
                            <h2 class="footer-heading mb-4">关于我们</h2>
                            <p>
                                我们是来自北京林业大学的开发团队！团队成员有曹泽昊，张谦，张家缘。希望我们的“泽兰抄”可以给您带来帮助。如有需要，可以通过上边的“联系我们”或者直接向2561360151@qq.com给我们发送邮件哦！</p>
                        </div>
                        {#                        <div class="col-md-4 ml-auto">#}
                        {#                            <h2 class="footer-heading mb-4">友情链接</h2>#}
                        {#                            <ul class="list-unstyled">#}
                        {#                                <li><a href="#">寻医问药网站</a></li>#}
                        {#                                <li><a href="#">网站A1</a></li>#}
                        {#                                <li><a href="#">网站A2</a></li>#}
                        {#                                <li><a href="#">网站A3</a></li>#}
                        {#                                <li><a href="#">网站A4</a></li>#}
                        {#                            </ul>#}
                        {#                        </div>#}

                    </div>
                </div>
                <div class="col-md-4 ml-auto">

                    <form action="#" method="post" class="footer-suscribe-form">
                        <div class="mb-5">
                            <h2 class="footer-heading mb-4">订阅我们的更新！</h2>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control border-secondary text-white bg-transparent"
                                       placeholder="输入电子邮箱..." aria-label="Enter Email"
                                       aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary text-white" type="button" id="button-addon2">
                                        订阅
                                    </button>
                                </div>
                            </div>
                        </div>


                        {#                        <h2 class="footer-heading mb-4">Follow Us</h2>#}
                        {#                        <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>#}
                        {#                        <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>#}
                        {#                        <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>#}
                        {#                        <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>#}
                    </form>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to cssmoban can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy; 2021/5/4 BFU
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>

</div>

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.sticky.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.animateNumber.min.js"></script>
<script src="/static/js/jquery.fancybox.min.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/aos.js"></script>

<script src="/static/js/main.js"></script>


</body>

</html>
